
<h1>Follow these steps to rejoin WeCoin blockchain !</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="circle-step">First Step</span>
    </mat-panel-title>
    <mat-panel-description>
      Download an Dapp app / browser or install Metamask
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>
    In order to navigate on the web site, you need to have a D-APP browser.<br>
    You can download the trust application available for IOS and android : <br><br>
    <a href="https://itunes.apple.com/us/app/trust-ethereum-wallet/id1288339409" target="_blank" class="link-block-2 w-inline-block">
      <img src="https://uploads-ssl.webflow.com/5a88babea6e0f90001b39b0d/5a8a2aec54ea7a0001465579_badge-download-on-the-app-store.svg" class="image-store">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" target="_blank" class="link-block-3 w-inline-block">
      <img src="https://uploads-ssl.webflow.com/5a88babea6e0f90001b39b0d/5a8a2aa037147b0001ae259d_google_play.png" class="image-store">
    </a>
  </p>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="circle-step">Second Step</span>
      </mat-panel-title>
      <mat-panel-description>
        Create your blockchain account
      </mat-panel-description>
    </mat-expansion-panel-header>  
    <p>
      Launch the application and follow the wizard to create your blockchain account.
      This account will be created on the ethereum blockchain.
      If you are on desktop, create it on your browser (via metamask or directly on your browser).<br><br>

      An account is identified by an hexadecimal number, like this one : <strong>0x872B14603DC867A9e97211DEb6f82fE1Fa1788E4</strong><br>
      You will give it to people who want to send you money.<br>
      Quite hard to remember, no ? <br>
      That's why we use QR code on blockchain :)
    </p>
  
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="circle-step">Third Step</span>
        </mat-panel-title>
        <mat-panel-description>
          Put your app on Ropsten Blockchain
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <p>
        If you are using trust application, go to settings and choose Network: <br>
        <img src="/assets/001.png" class="image-wizard" /><br><br>
        Then choose the Ropsten network and accept the dialog box:<br>
        <img src="/assets/002.png" class="image-wizard" />
      </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="circle-step">Fourth Step</span>
        </mat-panel-title>
        <mat-panel-description>
          You can now access your account !
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <p>
        You can now send and receive wecoins ! 
        Go to the website with the dapp browser and you will see your wecoin account !
        
      </p>
  </mat-expansion-panel>
  
