#notconnectedmessage{
    padding: 20px;
}

#title-account{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#connectedblock{
    padding: 20px;
}

.mat-form-field{
    width: 100%;
    padding-bottom: 15px;
}